:root {
  --bg: linear-gradient(135deg, #00c6ff, #0072ff);
  --card-bg: #ffffffcc;
  --text-color: #000;
  --button-bg: #0072ff;
}
body.dark {
  --bg: linear-gradient(135deg, #2c3e50, #000000);
  --card-bg: #1f1f1f;
  --text-color: #fff;
  --button-bg: #29b6f6;
}
body {
  font-family: "Poppins", sans-serif;
  background: var(--bg);
  color: var(--text-color);
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.container {
  background: var(--card-bg);
  border-radius: 20px;
  padding: 30px;
  width: 420px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}
h2 { text-align: center; color: var(--button-bg); }
input, button {
  width: 100%; padding: 10px; margin: 8px 0;
  border: none; border-radius: 8px;
}
input { background: #f2f2f2; }
button {
  background: var(--button-bg);
  color: white; font-weight: bold; cursor: pointer;
}
button:hover { opacity: 0.9; }
.hidden { display: none; }
.weather-box {
  text-align: center; margin-top: 15px;
  background: rgba(255,255,255,0.2);
  border-radius: 15px; padding: 15px;
}
.forecast {
  display: grid; grid-template-columns: repeat(3, 1fr);
  gap: 10px; margin-top: 20px;
}
.day {
  background: rgba(227, 242, 253, 0.6);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 12px;
}
.time-display {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.1rem;
}
#settingsPage { text-align: center; }
.toggle { display: flex; justify-content: center; align-items: center; gap: 10px; }
/* Dropdown Styles */
#suggestions {
  background: var(--card-bg);
  border-radius: 10px;
  margin-top: -5px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  overflow-y: auto;
  max-height: 180px;
}
.suggestion-item {
  padding: 8px 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}
.suggestion-item:hover {
  background: var(--button-bg);
  color: #fff;
  }
